#form {
	float: left;
	width: 96%;
	position: relative;
	padding: 1%;
}
#form label {
	display: block;
	padding: 5px;
	clear: both;
	float: left;
	position: relative;
	width: 96%;
	margin: 5px;
}
#form label input {
	float: right;
	margin-right: 20px;
	font-size: 16px;
	color: #00C;
	width: 50%;
}
#form select {
	float: right;
	margin-right: 20px;
	width: 50%;
}
fieldset {
	border: 1px solid #E5E5E5;
}
#moreinfo {
	width:95%;
	height:120px;
	clear:both;
	font-size: 14px;
	color: #1D2B1B;
	font-family:'Conv_GOTHIC', Sans-Serif;
}
legend {
	color: #666;
}
.datepicker {
	border-collapse: collapse;
	border: 2px solid #999;
	position: absolute;
	z-index: 12000;
	color: #000000;
}

.hightlight {
	border:2px solid #FFFF00;
	background-color: #FFFFCC;
	background-image: url(../images/iconCaution.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.done {
 

	 
	display:none

}
#map {
	width: 98%;
	height: 250px;
	margin-bottom: 15px;
	border: 1px solid #CCC;
	position: relative;
}
.weebox {
	width: 49%;
	float: left;
}
